<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C08</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/C08.styles.css" asp-append-version="true" />
</head>
<body>
    <a href="@Url.Action("Form", "Eshop")">Počet produktů v košíku @ViewBag.ProductCount</a>

    <ul>
        <li><a href="@Url.Action("index", "Home")">Úvodní stránka</a></li>
        <li><a href="@Url.Action("index", "Eshop")">E-Shop</a></li>
    </ul>
    @RenderBody()
</body>
</html>
